{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/home_page.css' %}" rel="stylesheet" type="text/css">
    <title>Annuleer abonnement</title>
</head>
<body style="background-image: linear-gradient(rgba(23,56,172) 0%, rgba(45,253,220) 100%); background-repeat: no-repeat; height: 95vh;">
    <h1>Abonnement is geannuleerd</h1>
    <div class="container">
        <a href="http://51.103.108.45/ingelogd">
            <div class="blok1 background2">Terug</div>
        </a>
        <a href="http://51.103.108.45">
            <div class="blok2 background2">Log uit</div>
        </a>
    </div>
</body>
</html>